<div class="comics-hero-wrap">
  <h3 class="comics-hero-subtitle">Web-based platform</h3>
  <h1 class="comics-hero-title">Comics</h1>
  <p class="comics-hero-text">
    Comics is a medium used to express ideas with images, often combined with
    text or other visual information.
  </p>
  <a href="../index.html" class="comics-hero-link">back home</a>
  <div class="marvel-background">
    <picture>
      <source
        media="(max-width:767px)"
        srcset="../img/avengers-marvel.png 1x, ../img/avengers-marvel-2x.png 2x"
      />
      <source
        media="(max-width:1439px)"
        srcset="
          ../img/avengers-marvel-tab.png    1x,
          ../img/avengers-marvel-tab-2x.png 2x
        "
      />
      <source
        media="(min-width:1440px)"
        srcset="
          ../img/avengers-marvel-desc.png    1x,
          ../img/avengers-marvel-desc-2x.png 2x
        "
      />
      <img
        srcset="../img/avengers-marvel.png 1x, ../img/avengers-marvel-2x.png 2x"
        src="../img/avengers-marvel.png"
        alt="comics-hero-background-image"
        class="comics-hero-background-image"
        loading="lazy"
      />
    </picture>
  </div>
</div>
