<footer class="footer">
  <div class="footer-wrap-all">
    <div class="footer-wrap">
      <a href="../index.html" class="footer-logo-link">
        <svg class="footer-logo-svg" width="98" height="15">
          <use href="../img/symbol-defs.svg#icon-marvel-logo" />
        </svg>
      </a>
      <a href="../comics.html" class="footer-comics-link">Comics</a>
    </div>
    <nav class="footer-nav">
      <a href="https://www.facebook.com/Marvel/" class="footer-nav-item">
        <svg class="footer-facebook" width="8" height="15">
          <use href="../img/symbol-defs.svg#icon-facebook" />
        </svg>
      </a>
      <a href="https://x.com/marvel" class="footer-nav-item">
        <svg class="footer-instagram" width="14" height="14">
          <use href="../img/symbol-defs.svg#icon-instagram" />
        </svg>
      </a>
      <a href="https://www.instagram.com/marvel/" class="footer-nav-item">
        <svg class="footer-twitter" width="14" height="14">
          <use href="../img/symbol-defs.svg#icon-twitter" />
        </svg>
      </a>
    </nav>
  </div>
  <div class="footer-privacy-block">
    <a href="" class="footer-privacy-text"
      >Privacy Policy Public Offering Agreement</a
    >
  </div>
</footer>
