<header class="header">
  <a href="../index.html" class="header-logo-link">
    <svg class="header-logo-svg" width="98" height="15">
      <use href="./img/symbol-defs.svg#icon-marvel-logo" />
    </svg>
  </a>
  <form type="submit" class="header-form-container">
    <input type="text" placeholder="search" class="header-input" />
    <button class="header-search-button">
      <svg class="header-search-svg" width="16" height="16">
        <use href="./img/symbol-defs.svg#icon-search" />
      </svg>
    </button>
  </form>
</header>
