<div class="hero-container">
  <div class="hero-text-wrap">
    <p class="hero-description">Web-based platform</p>
    <h1 class="hero-title">Marvelous Adventures</h1>
    <p class="hero-paragraph">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <a href="../comics.html" class="hero-link">All comics</a>
  </div>
  <div class="heros-wrap">
    <div class="black-panther-angry">
      <div class="circles-wrap">
        <div class="circle width169"></div>
        <div class="circle width195"></div>
        <div class="circle width207"></div>
        <div class="circle width295"></div>
        <div class="circle width307"></div>
        <div class="circle width339"></div>
        <div class="circle width351"></div>
        <div class="circle width409"></div>
        <div class="circle width427"></div>
      </div>
      <picture>
        <source
          media="(max-width:767px)"
          srcset="
            ./img/black-panther/black-panther-mob-1x-min.png 1x,
            ./img/black-panther/black-panther-mob-2x-min.png 2x
          "
        />
        <source
          media="(max-width:1439px)"
          srcset="
            ./img/black-panther/black-panther-tab-1x-min.png 1x,
            ./img/black-panther/black-panther-tab-2x-min.png 2x
          "
        />
        <source
          media="(min-width:1440px)"
          srcset="
            ./img/black-panther/black-panther-desc-1x-min.png 1x,
            ./img/black-panther/black-panther-desc-2x-min.png 2x
          "
        />
        <img
          class="black-panther-image-1"
          srcset="
            ./img/black-panther/black-panther-mob-1x-min.png 1x,
            ./img/black-panther/black-panther-mob-2x-min.png 2x
          "
          src="./img/black-panther/black-panther-mob-1x-min.png"
          alt="black panther"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="hero-wrapper">
      <div class="black-panther-still">
        <picture>
          <source
            media="(max-width:768px)"
            srcset="
              ./img/black-panther/black-panther-mob-still-1x-min.png 1x,
              ./img/black-panther/black-panther-mob-still-2x-min.png 2x
            "
          />
          <source
            media="(max-width:1440px)"
            srcset="
              ./img/black-panther/black-panther-tab-still-1x-min.png 1x,
              ./img/black-panther/black-panther-tab-still-2x-min.png 2x
            "
          />
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/black-panther/black-panther-desc-still-1x-min.png 1x,
              ./img/black-panther/black-panther-desc-still-2x-min.png 2x
            "
          />
          <img
            class="black-panther-image"
            srcset="
              ./img/black-panther/black-panther-mob-still-1x-min.png 1x,
              ./img/black-panther/black-panther-mob-still-2x-min.png 2x
            "
            src="./img/black-panther/black-panther-mob-still-1x-min.png"
            alt="black panther"
            loading="lazy"
          />
        </picture>
        <div class="black-panther-text-wrap">
          <p class="black-panther-text">Black Panther</p>
        </div>
        <div class="lines-wrap">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="hero-character-description-wrap">
        <div class="hero-light-spot"></div>
        <svg
          class="hero-line"
          viewBox="0 0 190 6"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 2.5L0 0.113249V5.88675L5 3.5V2.5ZM185 3.5L190 5.88675V0.113249L185 2.5V3.5ZM4.5 3.5H185.5V2.5H4.5V3.5Z"
            fill="#FAFAFA"
            fill-opacity="0.15"
          />
        </svg>
        <div class="hero-character-description">
          <h3 class="hero-character-description-title">Characters</h3>
          <p class="hero-character-description-text">
            T’Challa is the king of the secretive and highly advanced African
            nation of Wakanda - as well as the powerful warrior known as the
            Black Panther.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
