<div class="last-comics-wrap">
  <h2 class="last-comics-title">Last Comics</h2>
  <ul class="last-comics-list">
    <!-- <li class="last-comics-item">
      <img
        class="last-comics-item-photo"
        src="../img/cover-example.png"
        alt="cover-example"
        width="323"
        height="374"
      />
      <h3 class="last-comics-item-title">Immoral X-Men (2023)</h3>
      <p class="last-comics-item-author">Kieron Gillen</p>
    </li> -->
  </ul>
  <div class="last-comics-pagination">
    <button type="button" class="last-comics-pagination-previous">prev</button>
    <button type="button" class="last-comics-pagination-next">next</button>
  </div>
</div>
