.width169 {
  position: absolute;
  width: 169px;
  height: 169px;
  top: 129px;
  left: 129px;
}
.width195 {
  position: absolute;
  width: 195px;
  height: 195px;
  top: 116px;
  left: 116px;
}
.width207 {
  position: absolute;
  width: 207px;
  height: 207px;
  top: 110px;
  left: 110px;
}
.width295 {
  position: absolute;
  width: 295px;
  height: 295px;
  top: 66px;
  left: 66px;
}
.width307 {
  position: absolute;
  width: 307px;
  height: 307px;
  top: 60px;
  left: 60px;
}
.width339 {
  position: absolute;
  width: 339px;
  height: 339px;
  top: 44px;
  left: 44px;
}
.width351 {
  position: absolute;
  width: 351px;
  height: 351px;
  top: 38px;
  left: 38px;
}
.width409 {
  position: absolute;
  width: 409px;
  height: 409px;
  top: 8px;
  left: 8px;
}
.width427 {
  position: absolute;
  width: 427px;
  height: 427px;
  top: 0;
  left: 0;
}
