.last-comics-wrap {
  margin-top: 124px;
}
.last-comics-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 44px;
}
.last-comics-list {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.last-comics-list::-webkit-scrollbar {
  display: none;
}
.last-comics-item {
  min-width: 323px;
}
.last-comics-item-photo {
  border-radius: 8px;
  min-width: 323px;
  height: 374px;
}
.last-comics-item-title {
  margin-top: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #fafafa;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.last-comics-item-title::-webkit-scrollbar {
  display: none;
}
.last-comics-item-author {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(250, 250, 250, 0.5);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.last-comics-item-author::-webkit-scrollbar {
  display: none;
}
.last-comics-pagination {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
}
.last-comics-pagination-previous,
.last-comics-pagination-next {
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: 1px solid #fafafa;
  opacity: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.last-comics-pagination-next {
  background-color: #34387f;
  border: none;
  opacity: 100%;
}
.last-comics-icon-next {
  transform: rotate(180deg);
}
.last-comics-pagination-next:hover,
.last-comics-pagination-next:active,
.last-comics-pagination-next:focus {
  transform: scale(1.1);
}

.last-comics-pagination-previous:hover,
.last-comics-pagination-previous:focus {
  opacity: 100%;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .last-comics-title {
    font-size: 44px;
    line-height: 1;
    letter-spacing: -0.02em;
  }
  .last-comics-item {
    min-width: 448px;
  }
  .last-comics-item-photo {
    width: 448px;
    height: 519px;
  }
  .last-comics-item-title {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
  }
  .last-comics-item-author {
    font-size: 16px;
    line-height: 1.125;
  }
  .last-comics-pagination {
    margin-top: 32px;
    gap: 16px;
  }
  .last-comics-pagination-previous,
  .last-comics-pagination-next {
    width: 44px;
    height: 44px;
  }
  .last-comics-icon-next,
  .last-comics-icon-prev {
    height: 12px;
    width: 18px;
  }
}
